// ===============================================
// -------------------- header -------------------
// ===============================================


header{
    height: 85vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    

    .right{
        margin: auto 4px;
        // width: 50%;
    }

    .left{
        margin: auto 4px;
        // width: 50%;

        img{
            align-items: center;
            width: 400px;

            transform: rotate(0deg);
            transition: transform 2s;
        
        }

        img:hover {
            transform: rotate(5deg);
        }
    
    }

}


.main-title{

    text-align: center;
    font-size: 5em;
    font-weight: bold;
    font-family: "Sriracha", cursive;

}
.main-p{
    text-align: center;
    font-size: 2em;
    font-family: "Sriracha", cursive;

}