<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/logo.png" type="image/icon type">
  <title>Burger Cube - Le burger carré qui vous met au carré</title>
  <link rel="stylesheet" href="../css/styles.css">  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">  </head>
<body>

	<nav>
		<span>
			<a href="index.html">
				<img class="logo" src="../img/logo.png" alt="burger-cube logo">
				<span class="sriracha-regular ">Burger Cube</span>
			</a>
		</span>
		<ul>
			<li><a class="sriracha-regular " href="service.html">Menu</a></li>
			<li><a class="sriracha-regular " href="index.html">Home</a></li>
		</ul>
	</nav>
	
	<div class="wrapper">

	
		<header>

			<form action="POST">
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" placeholder="exemple@domaine.com" required>
			
				<label for="number">Numéro de téléphone:</label>
				<input type="tel" name="number" id="number" placeholder="Entrez votre numéro de téléphone" pattern="[0-9]{10}">
			
				<label for="message">Message:</label>
				<textarea name="message" id="message" cols="30" rows="10" placeholder="Tapez votre message ici..." required></textarea>
			
				<input class="btn" type="submit" value="Envoyer">
			</form>
				
		</header> 
	</div>

	<footer>
		<p> &copy; 2024 Burger Cube. All Rights Reserved.</p>
	</footer>


	

</body>
</html>
