<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/logo.png" type="image/icon type">
  <title>Burger Cube - Le burger carré qui vous met au carré</title>
  <link rel="stylesheet" href="../css/styles.css">  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">  </head>
<body>

	<nav>
		<span>
			<a href="index.html">
				<img class="logo" src="../img/logo.png" alt="burger-cube logo">
				<span class="sriracha-regular ">Burger Cube</span>
			</a>
		</span>
		<ul>
			<li><a class="sriracha-regular " href="service.html">Produce</a></li>
			<li><a class="sriracha-regular " href="contact.html">Contact</a></li>
		</ul>
	</nav>
	
	<div class="wrapper">

	
		<header>
			
			<div class="right">
				<h1 class="main-title">Burger Cube</h1>
	
			<p class="main-p">Le burger qui vous met au carré.</p>  
			</div>
			<div class="left">
				<img src="../img/main.png" alt="Burger en cube">
			</div>
		</header> 
	</div>

	<footer>
		<p> &copy; 2024 Burger Cube. All Rights Reserved.</p>
	</footer>


	

</body>
</html>
